/* @import url('https://fonts.googleapis.com/family=Play:wght@400;700&display=swap'); */

/* @font-face{

    font-family: 'MyWebFont';
    
    src: url('fonts/Play.eot');
    
    src: url('fonts/Play.eot?iefix') format('eot'),
    
    url('fonts/Play.woff') format('woff'),
    
    url('fonts/Play.ttf') format('truetype'),
    
    url('fonts/Play.svg#webfont') format('svg');
    
    font-weight: normal;
    
    font-style: normal;
    
} */



/* body {
    font-family: 'Jura', sans-serif; 
    font-family: 'Micra', arial;
    font-family: 'Play', sans-serif;
} */