/* Checkbox */
.customize-control.customize-control-checkbox .customize-inside-control-row {
	padding-left: 0;
}
.customize-control .customize-inside-control-row {
    margin-left: 0;
}
.customize-inside-control-row input[type="checkbox"] + label,
.customize-inside-control-row input[type="radio"] + label {
    position: relative;
}
.customize-inside-control-row input[type="checkbox"] + label {
    padding-left: 45px;
    display: block;
}
.customize-inside-control-row input[type="radio"] + label {
    padding-left: 28px;
}
.customize-inside-control-row input[type="checkbox"],
.customize-inside-control-row input[type="radio"] {
    display:none;
}
.customize-inside-control-row input[type="checkbox"] + label:before,
.customize-inside-control-row input[type="checkbox"] + label:after,
.customize-inside-control-row input[type="radio"] + label:before,
.customize-inside-control-row input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    -webkit-transform: translate(0, -50%) !important;
    -moz-transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -o-transform: translate(0, -50%) !important;
    transform: translate(0, -50%) !important;
}
.customize-inside-control-row input[type="checkbox"] + label:before {
    width: 35px;
    height: 20px;
    left: 0px;
    background: #CCCCCC;
    border: 1px solid #e4e3e1;
    border-radius: 15px;
}
.customize-inside-control-row input[type="checkbox"] + label:after {
    width: 15px;
    height: 15px;
    left: 3px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.customize-inside-control-row input[type="checkbox"]:checked + label:before {
    background: #66BB6A;

}
.customize-inside-control-row input[type="checkbox"]:checked + label:after {
    left: 17px;
    background: #fff;
}

.customize-inside-control-row input[type="radio"] + label:before {
    width: 20px;
    height: 20px;
    left: 0px;
    background: transparent;
    border: 1px solid #9B9B9B;
    border-radius: 100%;
}
.customize-inside-control-row input[type="radio"]:checked + label:after {
    background: #0085BA;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    left: 4px;
}

/*repeater*/
.repeater-fields {
    padding: 0;
    border: none;
    box-shadow: none;
}

/*style for custom customize control*/

#accordion-section-theme_upsell {
	display: block !important;
	min-height: 50px;
}

#accordion-section-theme_upsell h3 {
	line-height: 2;
}

#accordion-section-theme_upsell h3 a.button {
	background-color: #28a745;
	border-color: #28a745;
}

#accordion-section-theme_upsell h3 a.button:hover,
#accordion-section-theme_upsell h3 a.button:focus,
#accordion-section-theme_upsell h3 a.button:active {
	background-color: #0071a1;
	border-color: #0071a1;
}

[id*="customize-control-separator"] {
	display: list-item !important;
	margin-bottom: 0;
}

.customize-control-kirki-radio-image label {
    margin-right: 10px;
    margin-bottom: 5px;
}

#input_header_media_options {
    display: none !important;
}